/* components/Slider.module.css */
.slider {
  position: relative;
  width: 100%;
  height: 555px;
  overflow: hidden;
  padding: 0 47px;
}
.item {
  max-width:292px;
  width: 100%;
  position: absolute;
  text-align: justify;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.4s;
  left: calc(50% - 145px);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#next {
  right: 0;
}
#prev {
  left: 0px;
}
#prev, #next {
  position: absolute;
  color: #fff;
  background: none;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s;
  top: 50%;
  transform: translateY(-50%);
}
#prev:hover,
#next:hover {
  opacity: 1;
}
.slider-tooltip div:nth-child(2) div:first-child {
  left: -2px !important;
  z-index: -1;
}
.slider-tooltip {
  transform: translate(50%, -37px);
}
@media screen and (max-width: 1080px) {
  #next {
    right: -28px;
  }
}
@media screen and (max-width: 767px) {
  #next {
    right: -5px;
  }
  #prev {
    left: -5px;
  }
  .item {
    left: calc(50% - 116px);
    max-width: 234px;
  }
}